body{
    background-color:#F8C3C4 ;
}

section {
    display: flex;
    align-items: center;
}

.wrapping{
    display:flex;
    background-color: #F1F1F1;
}

.card-index{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0rem;
    margin-bottom: 0%;
    background-color: #EA5455;
    border-radius: 12px 12px 12px 12px;
    color: #ffffff;
}

.shadow-form {
    background-color: rgba(0,0,0,0.03) !important;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3) !important;
  }